[v-cloak] {
  display: none;
}

a {
  cursor: pointer;
}

.almost-like-a-link {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.floatThead-table {
  th {
    background-color: #ffffff;
    color: #000000;
    z-index: 77777;
  }
}

.tippy-popper {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}
