body, html {
  font-family: $mainFontFamily;
}

a {
  color: #000000;
  cursor: pointer;
}

a:hover,
a:active {
  text-decoration: none;
}

.container-fluid {
   padding: 0 5% !important;
}

.modal {
  button {
    cursor: pointer;
  }
}

* {
  &:active,
  &:focus {
    outline: none;
  }
}

[v-cloak] {
  display: none;
}

.almost-like-a-link {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.floatThead-table {
  th {
    background-color: #ffffff;
    color: #000000;
    z-index: 77777;
  }
}

.tippy-popper {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

button,
.btn {
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.vue-slider-component {
  .vue-slider-tooltip {
    background-color: $strongBlue !important;
    border: 1px solid $strongBlue !important;
  }

  .vue-slider-process {
    background-color: $darkGrey !important;
  }
}
