// Colors
$mainPalette1: #931F1D;
$mainPalette2: #937B63;
$mainPalette3: #8A9B68;
$mainPalette4: #B6C197;
$mainPalette5: #D5DDBC;

$almostBlack: #333333;
$strongBlue: #79a7a8;
$darkGrey: #999999;

// Fonts
$mainFontFamily: 'Roboto';
$mainSerifFontFamily: 'Roboto Slab', serif;

// Main breakpoints
$breakpointXs: 0;
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
