.media-source-view {
  .card-content {
    padding: 1rem;
  }

  .b-tooltip {
    margin-left: 2px;
  }

  .tag {
    .tag-title {
      max-width: 150px;
      overflow: hidden;
    }

    .tag-value {
      background-color: #ffffff;
      color: $primary;
      padding: 0 4px;
      margin-left: 6px;
      border-radius: 2px;
    }
  }
}
