.header-logo {
  margin: 40px 0;
  text-align: center;

  .header-logo-link {
    color: $redish;
    display: inline-block;
    width: 280px;

    &:hover {
      text-decoration: none;
    }

    .header-logo-link-line-1,
    .header-logo-link-line-2,
    .header-logo-link-line-3 {
      width: 100%;
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .header-logo-link-line-1 {
      font-size: 27px;
      line-height: 26px;
    }

    .header-logo-link-line-2 {
      font-size: 26px;
      font-weight: bold;
      line-height: 28px;
    }

    .header-logo-link-line-3 {
      font-size: 15px;
      line-height: 18px;
    }
  }
}

footer {
  text-align: center;
  margin: 30px 0 10px 0;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

#main-menu-toggler {
  font-size: 36px;
  margin-top: 12px;
}

@media all and (min-width: $breakpointSm) {
  #main-menu-toggler {
    float: right;
  }
}
